<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Startup Naming</title>

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

        <style><!--
            .true:before{
                content:"\00b7";
                color: green;
                font-size:80px;
                line-height:12px;
            }
            .false:before {
                content:"\00b7";
                color: red;
                font-size:80px;
                line-height:12px;
            }
        --></style>
        
        <!--SEO META INFO-->
        <meta name="description" content="Choosing a name for your startup is hard. We make it easy!">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="span8 offset2">
                    <h1>Choosing A Project Name</h1>
                    <p class="lead">
                        Choosing a name for your startup is hard. This make it easy (well, eas<em>ier</em>)!
                    </p>
                </div>
            </div><!--.row-->
            <div class="row">
                <div class="span8 offset2">
                    <form class="form-search" method="get" action="">
                        <input type="text" class="input-large search-query" id="search-box">
                    </form>
                </div>
            </div><!--.row-->
            <div class="row">
                <div class="span8 offset2">
                    <table id="results-table" class="table">
                        <tr></tr>
                    </table>
                </div>
            </div><!--.row-->
        </div><!--.container-->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>

        <script>
            var searchValue = null;
            $("#search-box").keyup( function(e){
                typewatch(function () { // executed only 500 ms after the last keyup event.
                    
                    var $target = $(e.target);
                    var value = $target.val();

                    if (value == searchValue){
                        // don't re-search if the value hasn't changed
                        return false;
                    }
                    searchValue = value;
                    console.log(value);
                    $.ajax({
                        url: "/api/",
                        data: {
                            "name": value
                        }
                    }).done(function(json) {
                      render(json);
                    });
                }, 500);
            });

            // from http://stackoverflow.com/a/2219966/625840
            var typewatch = (function(){
                var timer = 0;
                return function(callback, ms){
                    clearTimeout (timer);
                    timer = setTimeout(callback, ms);
                }  
            })();

            function render(json){
                var json = JSON.parse(json);
                var $table = $("#results-table");

                for (var i=0; i<json.length; i++){
                    var item = json[i];

                    // mustache
                    var mustacheTemplate = "<tr>";
                    mustacheTemplate += "<td class='lead'><strong>{{site}}</strong></td>";
                    mustacheTemplate += "<td class='{{com}}'>{{site}}.com</td>";
                    mustacheTemplate += "<td class='{{other}}'>Other domains?</td>";
                    mustacheTemplate += "<td class='{{fb}}'>facebook.com/{{site}}</td>";
                    mustacheTemplate += "<td class='{{tw}}'>twitter.com/{{site}}</td>";
                    mustacheTemplate += "</tr>";
                    var mustacheVars = {
                        "site": item["option"],
                        "fb": item["facebook_is_available"],
                        "tw": item["twitter_is_available"],
                        "com": item["com_is_available"],
                    };
                    if (item["other_domains"].length == 0){
                        mustacheVars["other"] = false;
                    }
                    else{
                        mustacheVars["other"] = true;
                        mustacheVars["other_domains"] = item["other_domains"];
                    }

                    var html = Mustache.render(mustacheTemplate, mustacheVars);
                    $table.append(html);
                }
                //console.log(json);
            }
        </script>
    </body>
</html>
