<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Startup Naming</title>

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

        <style><!--
            .true:before{
                content:"\00b7";
                color: green;
                font-size:80px;
                line-height:12px;
                display:inline-block;
            }
            .false:before {
                content:"\00b7";
                color: red;
                font-size:80px;
                line-height:12px;
                display:inline-block;
            }
        --></style>
        
        <!--SEO META INFO-->
        <meta name="description" content="Choosing a name for your startup is hard. We make it easy!">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="span8 offset2">
                    <h1>Choosing A Project Name</h1>
                    <p class="lead">
                        Choosing a name for your project is hard. This makes it easy (well, eas<em>ier</em>)!
                    </p>
                </div>
            </div><!--.row-->
            <div class="row">
                <div class="span8 offset2">
                    <form class="form-search" method="get" action="/" id="search-form">
                        <table class="table">
                            <tr>
                                <td>
                                    <p class="lead">Base Name</p>
                                    <input type="text" class="input-large search-query" id="search-box" placeholder="Choose a base name..." />
                                    <hr />
                                    <p style="font-size:0.8em; color: #888">
                                        Choose a base name for your project, then add potential<br> prefixes and suffixes. We'll tell you what's available.
                                    </p>
                                </td>
                                <td>
                                    <p class="lead">Prefixes</p>
                                    <label class="checkbox"><input type="checkbox" name="prefix" value="try" /> Try</label><br>
                                    <label class="checkbox"><input type="checkbox" name="prefix" value="get" /> Get</label><br>
                                    <label class="checkbox"><input type="checkbox" name="prefix" value="use" /> Use</label><br>
                                    <label class="checkbox"><input type="checkbox" name="prefix" value="buy" /> Buy</label>
                                </td>
                                <td>
                                    <p class="lead">Suffixes</p>
                                    <label class="checkbox"><input type="checkbox" name="suffix" value="app" /> App</label><br>
                                    <label class="checkbox"><input type="checkbox" name="suffix" value="co" /> Co</label>
                                </td>
                                <td style="padding-top:50px">
                                    <input type="submit" class="btn btn-primary btn-large" id="submit-button" value="search &rarr;" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div><!--.row-->

            <div class="row" id="progress-reporting-area">
                <div class="span8 offset2">
                    <div class="progress progress-striped active" id="progress-container">
                        <div class="bar" style="width: 0px;" id="progress-bar"></div>
                    </div>
                </div>
            </div><!--.row-->

            <div class="row">
                <div class="span8 offset2">
                    <table id="results-table" class="table">
                        <tr></tr>
                    </table>
                </div>
            </div><!--.row-->

            <div class="row muted">
                <div class="span8 offset2">
                    <span class="pull-left">
                        <strong>Legend:</strong> <span class="true">Available</span> <span class="false">Not Available</span>
                    </span>
                    <span class="pull-right">
                        Quick hack by <a href="http://blog.hartleybrody.com/">Hartley Brody</a>. Source on <a href="https://github.com/hartleybrody/naming">GitHub</a>.
                    </span>
                </div>
            </div><!--.row-->
        </div><!--.container-->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>

        <script>
            $("#search-form").submit( function(e){

                var $target = $(e.target);
                var value = $target.find('input[type=text]').val();

                var prefixes = [], suffixes = [];
                var checkboxes = $target.find('input[type=checkbox]');
                for (var i=0; i<checkboxes.length; i++){
                    var $checkbox = $(checkboxes[i]);
                    if ($checkbox.prop('checked')){
                        if ($checkbox.attr("name") == "prefix"){
                            prefixes.push($checkbox.attr("value"));
                        }
                        else if ($checkbox.attr("name") == "suffix"){
                            suffixes.push($checkbox.attr("value"));
                        }
                    }
                }

                $.ajax({
                    url: "/api/",
                    data: {
                        "name": value,
                        "prefixes": prefixes.join(),
                        "suffixes": suffixes.join(),
                    }
                }).done(function(json) {
                  render(json);
                });

                beginProgress((prefixes.length+1) * (suffixes.length+1) * 2);

                return false;
            });

            function beginProgress(num_permutations){
                $progress_container = $("#progress-container");
                console.log($progress_container.width());
                window.progress_step  = Math.floor($progress_container.width() / num_permutations);
                console.log(" progress step is " + progress_step);

                window.progress_interval = window.setInterval( function(){

                    $progress_bar = $("#progress-bar");

                    var current_width = parseInt($progress_bar.css("width").split("px")[0]);
                    console.log("  1. current width " + current_width);

                    var progress_step = window.progress_step;
                    console.log("  2. moving width by " + progress_step);

                    var new_width = current_width + progress_step;
                    console.log("  3. setting new width to " + new_width);

                    $progress_bar.css("width", new_width + "px");
                }, 1000);
            }

            function render(json){
                var json = JSON.parse(json);
                var $table = $("#results-table");
                $table.empty();

                $progress_bar = $("#progress-bar");
                $progress_bar.css("width", "100%");

                for (var i=0; i<json.length; i++){
                    var item = json[i];

                    // mustache
                    var mustacheTemplate = "<tr>";
                    mustacheTemplate += "<td class='lead'><strong>{{site}}</strong></td>";
                    mustacheTemplate += "<td class='{{com}}'>.com{{#com}} <a href='{{domainr}}'>&rarr;</a>{{/com}}</td>";
                    mustacheTemplate += "<td class='{{other}}'>other domains{{#other}} <a href='{{domainr}}'>&rarr;</a>{{/other}}</td>";
                    mustacheTemplate += "<td class='{{fb}}'>facebook</td>";
                    mustacheTemplate += "<td class='{{tw}}'>twitter</td>";
                    mustacheTemplate += "</tr>";
                    var mustacheVars = {
                        "site": item["option"],
                        "fb": item["facebook_is_available"],
                        "tw": item["twitter_is_available"],
                        "com": item["com_is_available"],
                        "domainr": "https://domai.nr/" + item["option"],
                    };
                    if (item["other_domains"].length == 0){
                        mustacheVars["other"] = false;
                    }
                    else{
                        mustacheVars["other"] = true;
                        mustacheVars["other_domains"] = item["other_domains"];
                    }

                    var html = Mustache.render(mustacheTemplate, mustacheVars);
                    $table.append(html);
                }
                //console.log(json);
                window.clearInterval(window.progress_interval);
                $progress_bar.css("width", "0px");
            }
        </script>
    </body>
</html>
